/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Smooch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

/*=============== BASE ===============*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: rgb(0, 0, 0);
  color: white;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #0b372dbb;
}

/*=============== REUSABLE CLASSES ===============*/
.container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.main {
  overflow: hidden;
  margin-left: 105px;
}

.sidebar:hover ~ .main {
  margin-left: 260px;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: background-color .3s, box-shadow .3s;
}

.bg-header {
  background-color: black;
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
}

/*=============== NAVIGATION ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav__logo {
  color: white;
  font-weight: var(--font-semi-bold);
}

.nav__actions {
  display: flex;
  column-gap: .5rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__close,
.nav__toggle {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

/* Mobile menu */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: var(--first-color);
    padding: 6rem 3rem 0;
    box-shadow: -2px 0 12px hsla(0, 0%, 0%, .2);
    transition: right .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: white;
  font-weight: var(--font-semi-bold);
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

/*=============== HOME ===============*/
.home {
  width: 100%;
  overflow: hidden;
}

.home__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__content {
  position: relative;
  display: grid;
}

.home__circle {
  position: absolute;
  inset: 0;
  width: 280px;
  height: 280px;
  border: 3px solid goldenrod;
  border-radius: 50%;
  margin-inline: auto;
  display: grid;
  place-items: center;
}

.home__subcircle {
  width: 246px;
  height: 246px;
  border: 12px solid goldenrod;
  border-radius: 50%;
}

.home__title {
  position: absolute;
  font-size: var(--biggest-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-regular);
}

.home__img {
  width: 250px;
  filter: drop-shadow(-8px 8px 16px hsla(34, 51%, 8%, .4));
  margin: 0 auto 2rem;
}

.home__article {
  text-align: center;
}

.home__product,
.home__price {
  font-size: var(--h3-font-size);
  margin-bottom: .25rem;
}

/* Swiper */
.swiper {
  margin-inline: initial;
}

.swiper-button-prev::after {
  content: "←";
  font-size: 1.5rem;
}

.swiper-button-next::after {
  content: "→";
  font-size: 1.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  top: auto;
  bottom: 40px;
  color: white;
  font-size: 1.5rem;
}

.swiper-button-prev {
  bottom: 90px;
  left: calc(50% - 8rem);
}

.swiper-button-next {
  bottom: 90px;
  right: calc(50% - 8rem);
}

.home__swiper {
  width: calc(100% - 20px);
  margin: 0 auto;
  transform: translateX(-5%);
}


.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  width: auto;
}

/*=============== VIDEO BACKGROUND ===============*/
#myVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

/*=============== CARDS ===============*/
/* @keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
} */

.cards-container {
  width: 100%;
}

.card {
  width: clamp(240px, 28vw, 300px);
  border-top: 1px solid rgba(255,255,255,0.65);
  border-left: 1px solid rgba(255,255,255,0.65);
  border-radius: 16px;
  padding: 45px 20px;
  background: rgba(0,0,0,0.25);
  box-shadow: 0 4px 25px rgba(255,255,255,0.1);
  backdrop-filter: blur(6px);
}

.card .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: 100%;
}

.wrapper h2 {
  margin-top: 15px;
  font-size: 1.8rem;
  color: rgba(255,255,255,0.9);
}

.wrapper p {
  text-align: center;
  margin: 8px 0;
  font-size: 0.9rem;
  color: rgba(255,255,255,0.9);
}

.wrapper a {
  display: inline-block;
  padding: 10px 35px;
  margin: 8px;
  border-radius: 50px;
  background: white;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

/*=============== HEADER (ALT STYLE) ===============*/
header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0.9rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

header nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
}

header ul a {
  color: #fff;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-size: 0.83rem;
}

/*=============== SIDEBAR ===============*/
.sidebar {
z-index: 1;
position: fixed;
top: 0;
left: 0;
width: 105px;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
background: rgba(255, 255, 255, 0.2);
backdrop-filter: blur(17px);
--webkit-backdrop-filter: blur(17px);
border-right: 1px solid rgba(255, 255, 255, 0.7);
transition: width 0.3s ease;
}

.sidebar:hover {
z-index: 999;
animation: expandSidebar 0.3s forwards;
}

@keyframes expandSidebar {
from {
    width: 200px;
}
to {
    width: 260px;
}
}

.sidebar .logo {
color: #000;
display: flex;
align-items: center;
padding: 25px 10px 15px;
}

.logo img {
z-index: 10;
width: 80px;
border-radius: 50%;
animation: cycle 4s infinite;
}

/* @keyframes cycle {
0%, 100% { opacity: 0; }
25% { opacity: 1; }
} */

.logo h2 {
font-size: 1.15rem;
font-weight: 600;
margin-left: 15px;
display: none;
}

.sidebar:hover .logo h2 {
display: block;
}

.sidebar .links {
list-style: none;
margin-top: 20px;
overflow-y: auto;
scrollbar-width: none;
height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
display: none;
}

.links li {
display: flex;
border-radius: 4px;
align-items: center;
}

.links li:hover {
cursor: pointer;
background: #fff;
}

.links h4 {
color: #222;
font-weight: 500;
display: none;
margin-bottom: 10px;
}

.sidebar:hover .links h4 {
display: block;
}

.links hr {
margin: 10px 8px;
border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
border-color: transparent;
}

.links li span {
padding: 12px 10px;
}

.links li a {
padding: 10px;
color: #000;
display: none;
font-weight: 500;
white-space: nowrap;
text-decoration: none;
}

.sidebar:hover .links li a {
display: block;
}

.links .logout-link {
margin-top: 20px;
}

@media (max-width: 768px) {
  .sidebar{
    width: 70px;
  }

  .main{
    margin-left: 70px;
  }
}

@media (max-width: 500px) {
  .sidebar{
    display: none;
  }

  .main{
    margin-left: 0;
  }
}

@media (max-width: 768px){
  .swiper-slide{
    width: 260px;
  }
}